<section class="inner-section">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<!-- <span class="icon-96">
	      			<i class="ion-social-github"></i>
	    		</span>
				 -->
				<h2>Terms of Service and Privacy Policy</h2>

				<div class="colored-line">
				</div>

				<div class="sub-heading">
					This will be layout in plain English
				</div>

				<div style="text-align: left;">
					<ul>
					<li style="list-style: disc;">
						Vizsla mission is to help open source project monetize their efforts by offering paid SLA programs to your users; and to help open source users get a better and more reliable product and service from open source projects they use.
					</li>
					<li style="list-style: disc;">
						If you're signing up as as a project owner, we ask for the following GitHub permissions: user:email,admin:repo_hook,public_repo. We ask for the user:email permission because we need the email to be able to communicare with you. We will never share your email and never spam you. We include unsubscribe links with any system email that we send. We need the admin:repo_hook permission in order to create a hook that will enable GitHub to notify us when you have new issues and comments. We need to be aware of that because if these issues and comments were made by paid users, we tag them. We need the public_repo permission in order to be able to list your repos for you to choose from, and to add a badge to the repo's readme file.
					</li>
					<li style="list-style: disc;">
						If you're signing up as a client, we ask for the following GitHub permissions: user:email,read:org. We ask for the user:email permission because we need the email to be able to communicare with you. We will never share your email and never spam you. We include unsubscribe links with any system email that we send. We need the read:org permission to be able to know if issues made on repos you're subscribed to are made by members of your organization, and therefore are entitled to SLA support.
					</li>
					<li style="list-style: disc;">
						We save your github login name and ID. We do so so we can approach you appropriately with your handle when we need to contact you. We will never use or share them with anyone except you.
					</li>
					<li style="list-style: disc;">
						Once you log in, we use cookies to keep you logged in. So yeah, we use cookies. We merely save your session ID in them.
					</li>
					<li style="list-style: disc;">
						You can always contact us via email: <%=config.get('app.email')%>
					</li>
					<li style="list-style: disc;">
						Apologies for not spending on a lawyer to craft some legal blurb here. We rather invest in the product rather than in the lawyer.
					</li>
				</ul>
				</div>

<!-- 				<form class="contact-form" method="POST" action="/configure-issue-tracker">
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="url" placeholder="Service URL" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="token" placeholder="Token" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="project_name" placeholder="Project Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-6 col-md-offset-3">
						<input class="form-control input-box" type="text" name="branch_name" placeholder="Branch Name" value=""></p>
					</div>
					<div class="field-wrapper col-md-12">
						<button id="submit-button" class="btn standard-button" type="submit" data-style="expand-left">Next >></button>
					</div>
				</form>
 -->			</div>
		</div>
	</div>
</section>
